<ion-view view-title="Lista de Medicinas">

  <ion-content class="padding">
      <div class="list-medicines">
          <div class="card relative" ng-repeat="medicine in md.medicines">
              <div class="item row">
                <div class="col">
                    <h3>{{medicine.name}}</h3>
                </div>
                <div class="col">
                    <h3>{{medicine.present}}</h3>
                </div>
              </div>
              <div class="item row">
                <div class="col">
                    <h3><strong>Cantidad: </strong>{{medicine.cant}}</h3>
                </div>
                <div class="col">
                    <h3><strong>Mg:</strong> {{medicine.mg}}</h3>
                </div>

              </div>
              <div class="item row">
                 <div class="col">
                   <h3><strong>Vence:</strong> {{md.mapDate(medicine.dateExpire)  | date:'dd-MM-yy' }}</h3>
                </div>
                <div class="col">
                  <h3><strong>Subida:</strong> {{md.mapDate(medicine.uploadDate) | date:'dd-MM-yy' }}</h3>
               </div>

              </div>
              <div class="show-contact" ng-click="md.showContact(medicine.profile)">
                  <i class="ion-android-person"></i>
              </div>
              <div class="item item-text-wrap">
                    {{medicine.info}}
              </div>


          </div>
      </div>

  </ion-content>
  <script id="profile-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">{{profile.name.value}} {{md.profile.lastname}}</h1>
            <div class="close-modal " ng-click="md.closeModal()">
              <i class="ion-close"></i>
           </div>
        </ion-header-bar>
        <ion-content>

          <div class="field" ng-if="profile.email.public">
              <h4><strong>Email: </strong>{{profile.email.value}}</h4>
          </div>
          <div class="field" ng-if="profile.facebook.public">
              <h4><strong>Facebook: </strong><a href="https://twitter.com/{{profile.facebook.value}}">{{profile.facebook.value}}</a></h4>
          </div>
          <div class="field" ng-if="profile.twitter.public">
              <h4><strong>Twitter: </strong> <a href="https://twitter.com/{{profile.twitter.value}}">{{profile.twitter.value}}</a></h4>
          </div>
          <div class="field" ng-if="profile.telf.public">
              <h4><strong>Telefono: </strong>{{profile.telf.value}}</h4>
          </div>
        </ion-content>
      </ion-modal-view>
  </script>
</ion-view>
