<ion-view view-title="Init">
  <ion-content>
      <ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide>
      <div class="box-slides box-slides-blue">
         <div class="content-slide">
             <div class="logo">
                 <i class="ion-ios-pulse"></i>
             </div>
             <div class="description">
                 <h4>#DonaTusMedicamentos</h4>
                 <p>Es una aplicación donde el venezolano puede donar sus medicinas
                     compartiendo información de dicho medicamento y personal para que lo puedan
                     contactar directamente.</p>
             </div>
         </div>

      </div>
    </ion-slide>
    <ion-slide>
      <div class="box-slides box-slides-blue">
          <div class="content-slide">
              <img src="img/intro.gif" alt="" class="img-intro">
              <div class="step">
                  <h2>Registrate</h2>
              </div>
          </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box-slides box-slides-blue">
          <div class="content-slide">
              <img src="img/intro.gif" alt="" class="img-intro">
              <div class="step">
                  <h2>Edita tu perfil</h2>
              </div>
          </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box-slides box-slides-blue">
          <div class="content-slide">
              <img src="img/intro.gif" alt="" class="img-intro">
              <div class="step">
                  <h2>Dona tu medicamento</h2>
              </div>
          </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box-slides box-slides-blue">
          <div class="content-slide">
              <img src="img/intro.gif" alt="" class="img-intro">
              <div class="step">
                  <h2>O puedes buscar y contactar</h2>
              </div>
          </div>
      </div>
    </ion-slide>
  </ion-slide-box>
  </ion-content>
</ion-view>
